<div class="abcenter" style="background-color:#FFFFFF; margin-top: -1.5%; height: 300px">
  <div style="padding-top: 8%;color: black">
    <h2>AB</h2>
    <p> One stop solution for all your shopping needs. </p>
    <button mat-raised-button (click)="openDialog()">Log In</button>
  </div>
</div>
<div class="abcenter" style="background-color:#FFFFFF; background-image:url(../../assets/images/redmi5.jpg);height: 300px">
  <div style="padding-top: 8%;color:black">    
  </div>
</div>
<div class="abcenter" style="background-color:#FFFFFF; background-image:url(../../assets/images/bikerstore.jpg); height: 300px">
  <div style="padding-top: 8%;color:black">
  </div>
</div>
